$main-btn-bgColor: rgb(78, 233, 179);
$main-btn-txtColor: rgb(255, 255, 255);

button {
    background-color: $main-btn-bgColor;
    color: $main-btn-txtColor;
    cursor: pointer;
    font-family: sans-serif;
    border-width: 0;
    border-radius: 3px;
    margin: 2px;

    &:hover {
        background-color: rgb(110, 255, 202);
        color: rgb(216, 206, 206);
    }

    &:active {
        background-color: rgb(98, 197, 161);
    }
}

.btn-small {
    font-size: 0.8rem;
}

.btn-medium {
    font-size: 1.2rem;
}

.btn-large {
    font-size: 1.6rem;
}

.btn-larger {
    font-size: 2.4rem;
}